<%- include('./includes/header.ejs') %>

    <main class="container py-6 py-lg-10">
        <h1 class="text-2md text-lg-2lg mb-5 mb-lg-10">
            Sale
        </h1>
        <div>
            <form action="">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group mb-6">
                            <label for="">
                                Amount
                            </label>
                            <div class="form-row">
                                <div class="col-6 input-group mb-3 text-2md">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text font-weight-bold text-2md" id="basic-addon1">
                                            &pound;
                                        </span>
                                    </div>
                                    <input type="number" class="form-control font-weight-bold text-2md" value="0.00"
                                        aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        <select class="custom-select font-weight-bold text-2md">
                                            <option selected value="&pound;">GBP</option>
                                            <option value="&dollar;">USD</option>
                                            <option value="&#8381;">RUB</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card-container mb-10">
                            <div class="credit-card card-back">
                                <div>
                                    <div class="d-flex justify-content-end align-items-end">
                                        <small id="helpId" class="text-white mr-3 w-50">3-digits security card from the
                                            back:</small>
                                        <div style="width: 70px">
                                            <label for="">CVC/CVV</label>
                                            <input type="number" maxlength="3" minlength="3" name="" id=""
                                                class="form-control" placeholder="" aria-describedby="helpId">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="credit-card card-front">
                                <div>
                                    <div class="form-group">
                                        <label class="small" for="">Card Number</label>
                                        <input type="number" name="" id="" class="form-control" placeholder=""
                                            aria-describedby="helpId">
                                    </div>
                                    <div class="form-group">
                                        <label class="small" for="">Card Expiry</label>
                                        <input type="date" name="" id="" class="form-control w-auto" placeholder=""
                                            aria-describedby="helpId">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <button class="btn btn-primary btn-lg">
                        Cancel
                    </button>
                    <button class="btn btn-primary btn-lg">
                        Charge
                    </button>
                </div>
            </form>
        </div>
    </main>