<%- include('./includes/header.ejs') %>


    <main class="container py-6 py-lg-10">
        <h1 class="text-2md text-lg-2lg mb-5 mb-lg-10 text-secondary">
            Your payment
            <br> went through
            <br>
            <span class="text-success">Successfully</span>
        </h1>
        <div class="row">
            <div class="col-md-3 col-lg-4">
                <div class="mb-6 text-lg-2md">
                    Card Number:
                    <p class="text-md text-lg-lg font-weight-bold text-info">
                        **** **** **** 9891
                    </p>
                </div>
                <div class="mb-6 text-lg-2md">
                    Card type:
                    <p class="text-md text-lg-lg font-weight-bold text-info">
                        MasterCard
                    </p>
                </div>
                <div class="mb-6 text-lg-2md">
                    Merchant ID:
                    <p class="text-md text-lg-lg font-weight-bold text-info">
                        ** 48123
                    </p>
                </div>
                <div class="mb-6 text-lg-2md">
                    TID:
                    <p class="text-md text-lg-lg font-weight-bold text-info">
                        **** 0090
                    </p>
                </div>
                <div class="mb-6 text-lg-2md">
                    Auth Code:
                    <p class="text-md text-lg-lg font-weight-bold text-info">
                        3749
                    </p>
                </div>
                <div class="mb-6 text-lg-2md">
                    Description:
                    <p class="text-md text-lg-lg font-weight-bold text-info">
                        Total Cost: <span class="text-success">£ 12.00 (GBP)</span>
                    </p>
                </div>
                <div class="mb-6 text-lg-2md">
                    Reference:
                    <p class="text-md text-lg-lg font-weight-bold text-info">
                        3018574
                    </p>
                </div>
                <div class="mb-6 text-lg-2md">
                    Transaction ID:
                    <p class="text-md text-lg-lg font-weight-bold text-info">
                        734581084
                    </p>
                </div>
                <div class="mb-6 text-lg-2md">
                    Transaction Date:
                    <p class="text-md text-lg-lg font-weight-bold text-info">
                        14 December, 2020, 16:32
                    </p>
                </div>
            </div>
            <div class="col-md-5 col-lg-4">
                <form action="">
                        <div class="form-group">
                            <label for="inputEmail4">Email the receipt</label>
                            <div class="d-flex">
                              
                                <input type="email" class="form-control form-control-lg mr-3 w-75" id="inputEmail4">
                                
                                <button class="btn btn-primary w-25">Send</button>
                            </div>
                        </div>
                </form>
                <a href="#" class="btn btn-info btn-lg w-100 w-md-auto">New Payment</a>
            </div>
        </div>
       
    </main>